body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#chatlog
{
	height: 300px;
	overflow: auto;
}
#serverstatus
{
	color: white;
	padding-top: 9px;
}
input[name=manual_rcon]
{
	width: 500px;
}
input[name=chat_message]
{
	width: 80%;
}
.center
{
	text-align: center;
}
#perfchart
{
	width: 400px;
	height: 300px;
}
#banscontent, #performancecontent, #mapcycle
{
	display: none;
}

#modlist, .maplist li {
	list-style-type: none;
}

#modlist, .maplist {
	border:			1px solid #CCC;
	width:			300px;
	padding:		10px;
	font-weight: 	bold;
	color: 			#1C94C4;
}

.maplist {
	height:		300px;
}

.maplist { list-style-type: none; }
.maplist li { margin: 5px 5px 5px 5px; padding: 0.4em; padding-left: 1.5em; height: 18px; cursor:move; }
.maplist li span { position: absolute; margin-left: -1.3em; }

.maplist {
	float:		left;
}

#maplist_available {
	margin-left:	10px;
}

#map_cycle_options {
	clear:		both;
}

#savebutton {
	display:	block;
	clear:		left;
}

#map_cycle_options label {
	display:		inline-block;
	width: 			150px;
}

#map_cycle_order, #map_cycle_time {
	width:		100px;
}